.project {
    width: 100%;
    /* height: calc(100vh - 100px); */
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project h1 {
    margin-top: 150px;
    color: #3e497a;
    font-size: 35px;
}
.project img {
    width: 700px;
    border-radius: 10px;
}

.project p {
    font-size: 35px;
    color: #3e497a;
}

.project svg {
    font-size: 60px;
    color: #3e497a;
}

.upvotes-section {
    width: 100%;
}

.upvotes-section button {
    margin-left: 50px;
    padding: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: #3e497a;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.upvotes-section p {
    margin-left: 50px;
    padding: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}
